@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');

#header{
    display: flex;
    font-family: 'Comfortaa';
}

#title{
    display: flex;
   flex:4;
   justify-content: flex-end;
}

#search{
    display: flex;
    flex:3;
    justify-content: flex-end;
}

#logout{
    margin-left: 20px;
}