<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Adicionar Atividade</title>
</head>
<body>
    <form action="./inseriu" method="POST">
        <label>Nome</label>
        <input type="text" name="nome"></input>
        <label>Data</label>
        <input type="text" name="data"></input>
        <label>Descrição</label>
        <input type="text" name="descricao"></input>
        <input type="submit" value="INSERIR"></input>
    </form>
</body>
</html>