<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa:400,700&display=swap" rel="stylesheet">
    <title>Atividade</title>
</head>

<body>
    <header>
        <h1>Atividade</h1>
    </header>
    <div>
        <h2 id="erro">{{ErroAtiv}}</h2>       
    </div>
    {{#each resultado as |item|}}
    <div>
        <div id = "container">
            <h2>{{item.nome}}</h2>
            <p id="pData">{{item.data}}</p>
            <p id="pDesc">{{item.descricao}}</p>
        </div>    
        {{!-- <button>EDITAR</button> --}}
    </div>
    {{/each}}
    
</body> 
</html>

<style>
    body {
        margin: 0;
    }

    h1 {
        font-family: 'Comfortaa', cursive;
        color: white;
        font-weight: 200;
        font-size: 44px;
        margin-top: 0px;
    }

    h2 {
        font-size: 36px;
    }

    header {
        background-color: #2d333d;
        text-align: center;
    }

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #container {
        background-color: #2f353f;
        width: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Comfortaa';
        color: white;
        border-radius: 20px;
        margin-bottom: 20px;
    }

    {{!-- button {
        border-radius: 10px;
        font-size: 18px;
        background-color: white;
        font-family: 'Comfortaa';
        margin-bottom: 20px;
    }  --}}

    #erro {
        justify-content: center;    
        color: #e74c3c;
        font-family: 'Courier New';
        font-size: 18px;
    }

    ::-webkit-scrollbar {
    width: 15px;
    }

    ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
    background:rgb(22, 154, 241);
    border-radius: 10px;
    }

</style>