<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa:400,700&display=swap" rel="stylesheet">

    <title>Agenda</title>
</head>
<body>
    <header>
        <h1>Agenda Comunitária</h1>  
    </header>
<table class="table table-bordered table-dark">
  <thead>
    <tr>
      <th scope="col">Segunda</th>
      <th scope="col">Terça</th>
      <th scope="col">Quarta</th>
      <th scope="col">Quinta</th>
      <th scope="col">Sexta</th>
      <th scope="col">Sábado</th>
      <th scope="col">Domingo</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td class="table-light">...</td>
        <td class="table-dark">...</td>
        <td class="bg-warning">...</td>
        <td class="bg-danger">...</td>
        <td class="bg-info">...</td>
        <td class="bg-primary">...</td>
        <td class="bg-success">...</td>
    </tr>
    <tr>
        <td class="bg-primary">...</td>
        <td class="bg-success">...</td>
        <td class="bg-warning">...</td>
        <td class="bg-danger">...</td>
        <td class="bg-info">...</td>
        <td class="bg-primary">...</td>
        <td class="bg-success">...</td>
    </tr>
    <tr>
        <td class="bg-primary">...</td>
        <td class="bg-success">...</td>
        <td class="bg-warning">...</td>
        <td class="bg-danger">...</td>
        <td class="bg-info">...</td>
        <td class="bg-primary">...</td>
        <td class="bg-success">...</td>
    </tr>
    <tr>
        <td class="bg-primary">...</td>
        <td class="bg-success">...</td>
        <td class="bg-warning">...</td>
        <td class="bg-danger">...</td>
        <td class="bg-info">...</td>
        <td class="bg-primary">...</td>
        <td class="bg-success">...</td>
    </tr>
    <tr>
        <td class="bg-primary">...</td>
        <td class="bg-success">...</td>
        <td class="bg-warning">...</td>
        <td class="bg-danger">...</td>
        <td class="bg-info">...</td>
        <td class="bg-primary">...</td>
        <td class="bg-success">...</td>
    </tr>
    <tr>
        <td class="bg-primary">...</td>
        <td class="bg-success">...</td>
        <td class="bg-warning">...</td>
        <td class="bg-danger">...</td>
        <td class="bg-info">...</td>
        <td class="bg-primary">...</td>
        <td class="bg-success">...</td>
    </tr>
    <tr>
        <td class="bg-primary">...</td>
        <td class="bg-success">...</td>
        <td class="bg-warning">...</td>
        <td class="bg-danger">...</td>
        <td class="bg-info">...</td>
        <td class="bg-primary">...</td>
        <td class="bg-success">...</td>
    </tr>
    <tr>
        <td class="bg-primary">...</td>
        <td class="bg-success">...</td>
        <td class="bg-warning">...</td>
        <td class="bg-danger">...</td>
        <td class="bg-info">...</td>
        <td class="bg-primary">...</td>
        <td class="bg-success">...</td>
    </tr>
  </tbody>  
</table>

</body>
</html>

<style>
    h1 {
        font-family: 'Comfortaa', cursive;
        color: white;
        font-weight: 200;
    }

    header{
        background-color:#2d333d;
        text-align: center;
    }

    body {
        margin: 0;
    }

    td {
        width: 200px;
        height: 80px;
        overflow: auto;
        font-family: 'Comfortaa', cursive;
    }

    tr {
        font-family: 'Comfortaa', cursive;
    }

</style>